.conteiner {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.title {
    font-size: 36px;
    margin: 40px 0;
}

.contact {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;

    &_content {
        font-size: 32px;
        display: flex;
        justify-content: space-between;

        &_mode {
            align-items: end;
            display: flex;
            flex-direction: column;
            gap: 10px;

            &_datatime {
                width: 665px;
                display: flex;
                justify-content: space-between;
            }
        }

        &_contacts {
            display: flex;
            flex-direction: column;
            gap: 30px;

            &_type {
                display: flex;
                align-items: center;
                gap: 10px;

                &_place {
                    background-image: url(../../../public/tochka.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    pointer-events: none;
                    width: 25px;
                    height: 35px;
                }

                &_email {
                    background-image: url(../../../public/email.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    pointer-events: none;
                    width: 39px;
                    height: 26px;
                }

                &_phone {
                    background-image: url(../../../public/phone.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    pointer-events: none;
                    width: 28px;
                    height: 36px;
                }
            }
        }
    }
}