.conteiner {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.link {
    display: flex;
    align-items: center;
    gap: 11px;
    text-decoration: none;

    &_img {
        background-image: url(../../../public/backTo.svg);
        background-repeat: no-repeat;
        background-size: cover;
        pointer-events: none;
        width: 20px;
        height: 18px;
    }

    &_text {
        color: #E7D5A1;
    }

}

.card {
    display: flex;
    align-items: center;
    margin-top: 40px;

    &_block {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        gap: 15px;

        &_title {
            font-size: 40px;
        }

        &_article {
            font-size: 15px;
        }

        &_price {
            font-size: 41px;
        }

        &_btn {
            display: flex;
            gap: 15px;


            &_quantity {
                background-color: #E7D5A1;
                display: flex;
                width: 100px;
                justify-content: center;
                align-items: center;
                border-radius: 20px;

                &_minus {
                    background-repeat: no-repeat;
                    background-color: #E7D5A1;
                    border: none;
                    align-items: center;
                    display: flex;
                    background-image: url(../../../public/minus.svg);
                    width: 16px;
                }

                &_text {
                    color: #3D4149;
                    margin: 0 15px;
                }

                &_plus {
                    background-repeat: no-repeat;
                    background-color: #E7D5A1;
                    border: none;
                    background-image: url(../../../public/plus.svg);
                    width: 18px;
                }
            }

            &_buy {
                width: 150px;
                background-color: #E7D5A1;
                border: none;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 11px;

                &_image {
                    background-image: url(../../../public/black-basket.svg);
                    background-color: #E7D5A1;
                    background-repeat: no-repeat;
                    width: 24px;
                    height: 22px;
                    border: none;

                }

                &_text {
                    color: #3D4149;
                    background-color: #E7D5A1;
                    font-size: 24px;
                    font-weight: 500;
                    border: none;
                }
            }
        }
    }
}


.properties {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &_information {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &_variable {
            display: flex;
            width: 40%;
            gap: 20%;

            &_name {
                display: flex;
                justify-content: flex-start;
            }
        }
    }
}

.review {
    display: flex;
    flex-direction: column;
    gap: 40px;
}