.conteiner {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.calc {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    &_img {
        background-image: url(../../public/calc-watch.webp); 
        background-repeat: no-repeat;
        background-size:cover;
        pointer-events: none;
        width: 450px;
        height:300px
     }

    &_content {
        width: 575px;

        &_text {
            margin-bottom: 60px;
        }

        &_button {
            color: #3D4149;
            background-color: #E7D5A1;
            text-decoration: none;
            padding: 13px 36px;
            border-radius: 10px;
            font-weight: 600;
        }
    }
}