.conteiner {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.catalog {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;

    &_card {
        background-color: #EBE9E5;
        border-radius: 10px;
        padding: 5px 38px;
        color: #3D4149;

        &_title {
            font-size: 21px;
        }

        &_article {
            font-size: 15px;
        }

        &_price {
            display: flex;
            justify-content: end;
            font-size: 32px;
        }

        &_btn {
            display: flex;
            justify-content: space-between;
            margin: 10px auto;

            &_quantity {
                background-color: #E7D5A1;
                display: flex;
                width: 38%;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                border-radius: 20px;

                &_minus {
                    background-repeat: no-repeat;
                    background-color: #E7D5A1;
                    border: none;
                    align-items: center;
                    display: flex;
                    background-image: url(../../public/minus.svg);
                    width: 16px;
                }

                &_text {
                    color: #3D4149;
                    margin: 0 15px;
                }

                &_plus {
                    background-repeat: no-repeat;
                    background-color: #E7D5A1;
                    border: none;
                    background-image: url(../../public/plus.svg);
                    width: 18px;
                }
            }

            &_buy {
                width: 58%;
                background-color: #E7D5A1;
                border: none;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 11px;

                &_image {
                    background-image: url(../../public/black-basket.svg);
                    background-color: #E7D5A1;
                    background-repeat: no-repeat;
                    width: 24px;
                    height: 22px;
                    border: none;

                }

                &_text {
                    color: #3D4149;
                    background-color: #E7D5A1;
                    font-size: 20px;
                    font-weight: 500;
                    border: none;
                }
            }
        }
    }
}