.conteiner {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.first_head {
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;

    &_item {
        display: flex;
        flex-direction: row;
        align-items: center;

        &_phone {
            background-image: url(../../public/phone.svg);
            background-repeat: no-repeat;
            background-size: cover;
            pointer-events: none;
            width: 20px;
            height: 26px
        }

        &_logo {
            background-image: url(../../public/logo.svg);
            background-repeat: no-repeat;
            background-size: cover;
            pointer-events: none;
            width: 155px;
            height: 61px
        }

        &_place {
            background-image: url(../../public/tochka.svg);
            background-repeat: no-repeat;
            background-size: cover;
            pointer-events: none;
            width: 15px;
            height: 24px
        }

        &_text {
            margin-left: 10px;
        }
    }
}

.second_head {
    margin: 15px 0px;

    &_menu {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        list-style: none;

        &_link {
            text-decoration: none;
            color: #E7D5A1;
        }

        &_icon {
            display: flex;
            &_img {
                margin-left: 40px;

                &_person {
                    background-image: url(../../public/person.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    pointer-events: none;
                    width: 33px;
                    height: 33px
                }

                &_basket {
                    background-image: url(../../public/basket.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    pointer-events: none;
                    width: 36px;
                    height: 34px
                }
            }
        }
    }
}